<div class="container">
    <h2 class="title">Rank Management</h2>
    <div>
        <button class="btn-add" (click)="addRank()">Add Rank</button>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="number-column">#</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>IsActive</th>
                    <th>Batch</th>
                    <th>Stream</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rank of allRanks; let i = index">
                    <td class="number-column">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                    <td class="name" (click)="viewRank(rank)">{{ rank.name }}</td>
                    <td class="code">{{ rank.code }}</td>
                    <td class="isActive">{{ rank.isActive }}</td>
                    <td>
                        <div class="child-container">
                            <ng-container *ngFor="let b of rank.batches; let i = index; let last = last"
                                class="role-badge">
                                {{ b }}<span *ngIf="!last">, </span>
                            </ng-container>
                        </div>
                    </td>
                    <td>
                        <div class="child-container">
                            <ng-container *ngFor="let cs of rank.classStreams; let i = index; let last = last"
                                class="role-badge">
                                {{ cs }}<span *ngIf="!last">, </span>
                            </ng-container>
                        </div>
                    </td>
                    <td>
                        <div class="child-container">
                            <ng-container *ngFor="let cc of rank.classCategories; let i = index; let last = last"
                                class="role-badge">
                                {{ cc.code }}<span *ngIf="!last">, </span>
                            </ng-container>
                        </div>
                    </td>
                    <td>
                        <button class="btn-edit" (click)="editRank(rank)">Edit</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pagination-container">
                            <!-- Show items range -->
                            <span class="pagination-info">
                                Showing {{ getStartItem() }} to {{ getEndItem() }} of {{ allRanks.length }}
                                total
                            </span>
                            <button class="pagination-btn" (click)="changePage(currentPage - 1)"
                                [disabled]="currentPage === 1">Previous</button>

                            <span *ngFor="let page of getTotalPages()">
                                <button class="pagination-btn" [class.active]="currentPage === page"
                                    (click)="changePage(page)">
                                    {{ page }}
                                </button>
                            </span>

                            <button class="pagination-btn" (click)="changePage(currentPage + 1)"
                                [disabled]="currentPage === totalPages">Next</button>

                            <select class="pagination-select" (change)="changeItemsPerPage($event)">
                                <option *ngFor="let option of itemsPerPageOptions" [value]="option"
                                    [selected]="itemsPerPage === option">
                                    {{ option }}
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- <div *ngIf="showViewEditPopup">
        <app-view-edit-rank [isEdit]="isEdit" [isAdmin]="isAdmin" [rank]="selectedRank" [allRanks]="allRanks"
            [allTeachers]="allTeachers" (popupForm)="closePopupForm()"></app-view-edit-rank>
    </div> -->
    <div *ngIf="showAddPopup">
        <app-add-rank [isEdit]="isEdit" [allRanks]="allRanks" (popupForm)="closePopupForm()"></app-add-rank>
    </div>
</div>