<div class="form-container">
    <div class="form-card">
        <div class="form-title">
            <h2 class="title">Add Rank</h2>
            <button class="close-button" (click)="close()">×</button>
        </div>
        <form [formGroup]="rankForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label class="form-label">Name <span> *</span></label>
                <input type="text" id="name" name="name" formControlName="name" class="form-input w-full rounded"
                    placeholder="Enter rank name" required
                    [ngClass]="{'border-red-500': rankForm.get('name')?.invalid && rankForm.get('name')?.touched}">
                <div *ngIf="rankForm.get('name')?.touched">
                    <small class="error-text" *ngIf="rankForm.get('name')?.errors?.['required']">Rank name
                        is required</small>
                    <small class="error-text" *ngIf="rankForm.get('name')?.errors?.['minlength']">Rank name must be at
                        least 2 characters long</small>
                    <small class="error-text" *ngIf="rankForm.get('name')?.errors?.['nameExist']">Rank name already
                        exist</small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Code <span> *</span></label>
                <input type="text" id="code" name="code" formControlName="code" class="form-input w-full rounded"
                    placeholder="Enter rank code" required
                    [ngClass]="{'border-red-500': rankForm.get('code')?.invalid && rankForm.get('code')?.touched}">
                <div *ngIf="rankForm.get('code')?.touched">
                    <small class="error-text" *ngIf="rankForm.get('code')?.errors?.['required']">Rank code
                        is required</small>
                    <small class="error-text" *ngIf="rankForm.get('code')?.errors?.['minlength']">Rank code must be at
                        least 2 characters long</small>
                    <small class="error-text" *ngIf="rankForm.get('code')?.errors?.['codeExist']">Rank code already
                        exist</small>
                </div>
            </div>

            <button type="submit" [disabled]="rankForm.invalid" class="submit-btn">Add</button>
        </form>
    </div>
</div>