<div class="form-container">
    <div class="form-card">
        <h2>Change Password</h2>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <div class="form-group">
                <label class="form-label" for="emailAddress">Email Address<span> *</span></label>
                <input type="text" id="emailAddress" name="emailAddress" formControlName="emailAddress"
                    placeholder="Enter Email Address" required>
                <div
                    *ngIf="changePasswordForm.get('emailAddress')?.invalid && changePasswordForm.get('emailAddress')?.touched">
                    <small class="error-text" *ngIf="changePasswordForm.get('emailAddress')?.errors?.['required']">
                        Email is required.</small>
                    <small class="error-text" *ngIf="changePasswordForm.get('emailAddress')?.errors?.['email']">
                        Enter a valid email.</small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="oldPassword">Old Password<span> *</span></label>
                <div class="password-input-container">
                    <input [type]="showOldPassword ? 'text' : 'password'" id="oldPassword" name="oldPassword"
                        formControlName="oldPassword" placeholder="Enter old password" required minlength="8"
                        maxlength="16">
                    <button type="button" class="toggle-password" (click)="toggleOldPasswordVisibility()">
                        <i [class]="showOldPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                    </button>
                </div>
                <div
                    *ngIf="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched">
                    <small class="error-text" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']">
                        Password is required.</small>
                    <small class="error-text" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['minlength']">
                        Password must be at least 8 characters.</small>
                    <small class="error-text" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['maxlength']">
                        Password should not more than 16 characters.</small>
                    <small class="error-text" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['passwordStrength'] && 
                        !changePasswordForm.get('oldPassword')?.errors?.['required'] &&
                        !changePasswordForm.get('oldPassword')?.errors?.['minlength'] &&
                        !changePasswordForm.get('oldPassword')?.errors?.['maxlength']">
                        Password must contain at least one uppercase letter, one lowercase letter, one number, and one
                        special character (!&#64;#$%^&*,.).
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="newPassword">New Password<span> *</span></label>
                <div class="password-input-container">
                    <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" name="newPassword"
                        formControlName="newPassword" placeholder="Enter new password" required minlength="8"
                        maxlength="16">
                    <button type="button" class="toggle-password" (click)="toggleNewPasswordVisibility()">
                        <i [class]="showNewPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                    </button>
                </div>
                <div
                    *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
                    <small class="error-text" *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">
                        Password is required.</small>
                    <small class="error-text" *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">
                        Password must be at least 8 characters.</small>
                    <small class="error-text" *ngIf="changePasswordForm.get('newPassword')?.errors?.['maxlength']">
                        Password should not more than 16 characters.</small>
                    <small class="error-text" *ngIf="changePasswordForm.get('newPassword')?.errors?.['passwordStrength'] && 
                        !changePasswordForm.get('newPassword')?.errors?.['required'] &&
                        !changePasswordForm.get('newPassword')?.errors?.['minlength'] &&
                        !changePasswordForm.get('newPassword')?.errors?.['maxlength']">
                        Password must contain at least one uppercase letter, one lowercase letter, one number, and one
                        special character (!&#64;#$%^&*,.).
                    </small>
                    <small class="error-text"
                        *ngIf="changePasswordForm.get('newPassword')?.errors?.['passwordSimilar']">
                        New password must be different from old password
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="confirmPassword">Confirm Password<span> *</span></label>
                <div class="password-input-container">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword"
                        name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm new password"
                        required minlength="8" maxlength="16">
                    <button type="button" class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
                        <i [class]="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                    </button>
                </div>
                <div
                    *ngIf="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched">
                    <small class="error-text" *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">
                        Password is required.</small>
                    <small class="error-text"
                        *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']">
                        Confirm password should match the new password</small>
                </div>
            </div>
            <button type="submit" [disabled]="changePasswordForm.invalid" class="submit-btn">Change Password</button>
        </form>
        <button type="button" class="back-btn" (click)="goToHome()">Cancel</button>
    </div>
</div>