<div *ngIf="role && isAdmin" class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="title">{{ isEdit ? 'Edit Module' : 'View Module' }}</h2>
            <button class="close-button" (click)="close()">×</button>
        </div>

        <form [formGroup]="roleForm">

            <div class="form-group">
                <label class="form-label">Title <span> *</span></label>
                <input type="text" id="title" name="title" formControlName="title" class="form-input w-full rounded"
                    placeholder="Enter role title" required
                    [ngClass]="{'border-red-500': roleForm.get('title')?.invalid && roleForm.get('title')?.touched}">
                <div *ngIf="roleForm.get('title')?.touched">
                    <small class="error-text" *ngIf="roleForm.get('title')?.errors?.['required']">Role title
                        is required</small>
                    <small class="error-text" *ngIf="roleForm.get('title')?.errors?.['minlength']">Role title must be at
                        least 2 characters long</small>
                </div>
            </div>

            <div class="form-group">
                <label for="roles">Modules <span> *</span></label>
                <div class="roles-container">
                    <label *ngFor="let module of allAccessModules" class="checkbox-item">
                        <div class="form-checkbox">
                            <input type="checkbox" [checked]="isAccessModuleSelected(module.id!)" disabled>
                            <p>{{ module.name }}</p>
                        </div>
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" *ngIf="isEdit" class="btn-primary" (click)="save(role)"
                    [disabled]="roleForm.invalid">
                    Update
                </button>
                <button type="button" *ngIf="isEdit" class="btn-primary" (click)="deleteRole(role)">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>