<div class="form-container">
    <div class="form-card">
        <h2>Reset Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="form-group">
                <label class="form-label" for="emailAddress">Email Address<span> *</span></label>
                <input type="text" id="emailAddress" name="emailAddress" formControlName="emailAddress"
                    placeholder="Enter Email Address" required>
                <div
                    *ngIf="resetPasswordForm.get('emailAddress')?.invalid && resetPasswordForm.get('emailAddress')?.touched">
                    <small class="error-text" *ngIf="resetPasswordForm.get('emailAddress')?.errors?.['required']">Email
                        is required.</small>
                    <small class="error-text" *ngIf="resetPasswordForm.get('emailAddress')?.errors?.['email']">Enter a
                        valid email.</small>
                </div>
            </div>
            <button type="submit" [disabled]="resetPasswordForm.invalid" class="submit-btn">Reset Password</button>
        </form>
        <button type="button" class="back-btn" (click)="backToLogin()">Back to Login</button>
    </div>
</div>