<div class="container">
    <h2 class="title">Module Management</h2>
    <div>
        <button class="btn-add" (click)="addModule()">Add Module</button>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="number-column">#</th>
                    <th>Name</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let module of allAccessModules; let i = index">
                    <td class="number-column">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                    <td class="name" (click)="viewModule(module)">{{ module.name }}</td>
                    <td>
                        <div class="role-container">
                            <ng-container *ngFor="let role of module.roles; let i = index; let last = last"
                                class="role-badge">
                                {{ role.title }}<span *ngIf="!last">, </span>
                            </ng-container>
                        </div>
                    </td>
                    <td>
                        <button class="btn-edit" (click)="editModule(module)">Edit</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pagination-container">
                            <!-- Show items range -->
                            <span class="pagination-info">
                                Showing {{ getStartItem() }} to {{ getEndItem() }} of {{ allAccessModules.length }}
                                total
                            </span>
                            <button class="pagination-btn" (click)="changePage(currentPage - 1)"
                                [disabled]="currentPage === 1">Previous</button>

                            <span *ngFor="let page of getTotalPages()">
                                <button class="pagination-btn" [class.active]="currentPage === page"
                                    (click)="changePage(page)">
                                    {{ page }}
                                </button>
                            </span>

                            <button class="pagination-btn" (click)="changePage(currentPage + 1)"
                                [disabled]="currentPage === totalPages">Next</button>

                            <select class="pagination-select" (change)="changeItemsPerPage($event)">
                                <option *ngFor="let option of itemsPerPageOptions" [value]="option"
                                    [selected]="itemsPerPage === option">
                                    {{ option }}
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div *ngIf="showViewEditPopup">
        <app-view-edit-accessmodule [isEdit]="isEdit" [isAdmin]="isAdmin" [accessModule]="selectedAccessModule"
            (popupForm)="closePopupForm()"></app-view-edit-accessmodule>
    </div>
    <div *ngIf="showAddPopup">
        <app-add-accessmodule [isEdit]="isEdit" (popupForm)="closePopupForm()"></app-add-accessmodule>
    </div>
</div>